@using YiHe.Web.Core.Extensions

@model YiHe.Model.Material.Part

@{
    ViewBag.Title = Model.Title;
}

@section Meta
{
    <meta name="keywords" content="苏州易禾心理,咨询中心,苏州易禾心理地址">
}

@Html.Script(
    @<script type="text/javascript">
         var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
         document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F32b8d5e6ef46ca7713d4e3f6e3a661b7' type='text/javascript'%3E%3C/script%3E"));
    </script>
)

<div id="maintop">
    <h5 style="background: url('@Model.IconPath') no-repeat 4px 26px">@Model.Title</h5>
    @foreach (var e in Model.Elements)
    {
        @Html.SplitText(@e.Detail)
    }
</div>


<div id="contact-col">
    <div id="office-name">苏州易禾心理咨询中心</div>
    <p>地址：</p>
    <div id="office-address">
        <p>中国江苏省</p>
        <p>苏州市沧浪区</p>
        <p>东大街 240 号</p>
    </div>
    <p>电话：</p>
    <div id="office-telphone">
        <p>+86 (0512) 6519-3927</p>
        <p>+86 400 0512-059</p>
    </div>

    <ul class="connect-links">
        <li class="mail"><a href="mailto:easyhappy2012@163.com" title="发送邮件">发送邮件</a></li>
        <li class="weibo"><a href="http://weibo.com/u/2706243852" title="新浪微博">新浪微博</a></li>
    </ul>
</div>

<div id="map"></div>

@Html.Script(@<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>)
@Html.Script(
    @<script type="text/javascript">
        var content = "<p style='font-size:14px;font-weight:bold;margin-bottom:10px'>易禾心理咨询中心</p>" +
                       "<p style='font-size:12px;'>苏州市沧浪区<br/>东大街&nbsp;240号</p>" +
                       "</div>";
        var map = new BMap.Map("map");
        var point = new BMap.Point(120.625443, 31.300239);  // 创建点坐标
        var marker = new BMap.Marker(point);                // 创建标注
        var infoWindow = new BMap.InfoWindow(content);      // 创建信息窗口对象
        map.centerAndZoom(point, 16);
        map.addOverlay(marker);                             // 将标注添加到地图中
        map.enableScrollWheelZoom();                        //启用滚轮放大缩小
        map.addControl(new BMap.NavigationControl());       //添加默认缩放平移控件
        map.addControl(new BMap.MapTypeControl({ anchor: BMAP_ANCHOR_TOP_RIGHT, mapTypes: [BMAP_NORMAL_MAP, BMAP_HYBRID_MAP] }));   //左上角，默认地图控件
        map.addControl(new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));                                                // 右下

        marker.openInfoWindow(infoWindow);
    </script>
)
