@using YiHe.Web.Core.Extensions

@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@section Meta
{
    @RenderSection("Meta", false)
}

@section Css
{
    @RenderSection("Css", required: false)
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#slider').loopedSlider({
                container: ".ls_container",
                slides: ".ls_slides",
                pagination: "ls_pagination",
                containerClick: false,
                autoStart: 5000,
                slidespeed: 800
            });
        });
        $("#account_bar").slideToggle("slow");
    </script>
    @RenderSection("Scripts", false)
}

@Html.Partial("_AccountBar")

<div id="body_backgroud">
    <span id="site_logo"></span>
</div>
<div id="topbanner">
    <h1><a id="site_name" href="/" title="易禾心理咨询中心">易禾心理咨询中心</a></h1>
</div>
<div id="wrap">
    <header id="header">
        @Html.Action("_Slider", "Shared")
        @Html.Action("_Menu", "Shared", new {controller = @Html.ControllerName(), action = @Html.ActionName(), id = @Html.RouteId()})
    </header>
    <div id="main">
        @RenderBody()
    </div>
    @Html.Action("_Footer", "Shared")
</div>